* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  text-rendering: optimizeLegibility;
}

html {
  font: 56px/1.02 "Arial", sans-serif; 
}

body {
  color: white;
  background: black;
  margin-bottom: 90vh; 
}

#content {
  position: relative;
}

a:link, a:visited {
  color: inherit; 
}

.wrap {
  margin: 0 auto;
  width: 100%; 
  padding: 0 1.99em; 
}

p {
  margin-bottom: 1em;
}
