$num = 50px
$col = rgb(112,203,19) 

* {
  padding          0
  margin           0
  box-sizing       border-box
  font             inherit
  text-rendering   optimizeLegibility
}

html {
  font 50px / 1.1 "Arial", sans-serif
}
 
body {
  color          black 
  background     white 
  margin-bottom  90vh
  color          darken($col, 19)
}

#content {
  position relative
  color    #123456
  color    #af2
  color   rgb(0,0,255)
  color   hsl(0,0,0) 
  color   rgba(0,0,255,0)
  color   hsla(0,0,0,0)
  div {
    color:  #123;
    color:  red;
  }
}

h1 {
  font-weight     normal
  display         inline-block
  font-size       $num * 2
  padding-bottom  0.5em
  color           darken($col, 20)
  border-bottom   $num / 3 solid black
}

a:link, a:visited {
  color  inherit; 
}

.better {
  display: none;
}

.initial {
  display: block;
}

.wrap {
  margin   0 auto;
  width    100%; 
  padding  1em 2em; 
}

p {
  margin-bottom: 1em;
}

@media (max-width: 500px) {
  body {
    font-size: 24px;
  }
}
