$color      = black
$bg         = white
$graytext   = #bbb
$activetext = rgb(0, 163, 255)
$redcolor   = #991616
$darkbg     = #2D323A

// -------------------
// R E S E T
* 
  margin: 0
  padding: 0
  font: inherit
  -webkit-box-sizing: border-box
  box-sizing: border-box
  font: inherit
  text-rendering: optimizeLegibility
  -webkit-user-select: none
  font-smoothing: anti-aliased

// -------------------
// G E N E R A L

body, html
  overflow: hidden
  height: 100%

body
  margin       0px
  background   $bg
  padding-top  2em
  color        $color
  font         400 12px/1.4 "Lucida Grande"

//::-webkit-scrollbar-button       
//::-webkit-scrollbar-track      
//::-webkit-scrollbar-track-piece  
//::-webkit-scrollbar-corner       
//::-webkit-resizer               

::-webkit-scrollbar-thumb
  background: rgba(0,0,0,0.2)

::-webkit-scrollbar   
  width: 5px


.dark-theme
  background: $darkbg
  .nav
    background: $darkbg
    border-color: rgba(white,0.08)
    a
      color gray
    .activetab
      color white

  ::-webkit-scrollbar-thumb
    background: rgba(255,255,255,0.2)


a:link, a:visited
  color: inherit

.actions
  position: absolute
  right: 0
  z-index: 99
  a
    display: inline-block
    text-decoration: none
    padding: 0.8em 1.5em
    color: #00A3FF

header.actions
  top: 0

footer.actions
  bottom: 0

h1
  font-size: 3rem

h2
  font-size: 2rem

[data-selector]
  // cursor: pointer
  border-bottom: 1px solid rgba(white, 0.1)
  &:hover
    border-bottom: 1px solid white
    color: white

.nav
  position: fixed
  z-index: 10
  top: 0
  left: 0
  right: 0
  border: 0
  background: white
  border-bottom: 1px solid #eee
  a
    display: inline-block
    padding: 0.8em 1.5em
    text-decoration none
    color    $graytext
  .activetab
    color    $activetext


.btn
  display: inline-block
  padding: 0.8em 1em
  margin-bottom: 1em
  background: red
  color: white
  text-decoration: none


.tabs
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  white-space: nowrap
  overflow: hidden

.tab
  // -webkit-transition: all 0.3s cubic-bezier(0.220, 1.10, 0.365, 1.000)
  -webkit-transition: all 0.1s
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: none
  vertical-align: top
  // width: 700px
  // border-left: 1px solid rgba(0,0,0,0.1)
  &.active
    display: block
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)


.CodeMirror
  /* Set height, width, borders, and global font properties here */
  color: #535353
  top: 2.8em
  left: 0
  bottom: 0 
  padding-left: 1em
  padding-right: 1em
  height: calc(100vh - 2.8em)


// When there is a gutter element, the line (normally a pre) is
// wrapped in an anonymous div together with its gutter.
// ----------
// We've moved the gutter element *after* the pre, so it can
// be implicitly positioned right next to it instead
// of floating mysteriously in the margin
.CodeMirror .CodeMirror-code > div > pre
  display: inline-block
// ----------
// We undo the absolute positioning mess
// to allow the gutter elts to be in-line
.CodeMirror-gutter-wrapper
  display inline-block
  &[style]
    position static !important
.CodeMirror-gutter-elt
  position static !important
  display inline-block


.dragging
  cursor: ew-resize
  *
    -webkit-user-select: none !important
    cursor: ew-resize !important




.colorpicker
  display: inline-block
  width: 2ch
  height: 12px
  overflow: hidden
  background: transparent
  // -webkit-transition: all 0.2s

.colorpicker-swatch
  cursor: pointer
  width: 14px
  height: 14px
  border-radius: 1px
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
  position: absolute
  top: 0
  &:hover
    // -webkit-transform: scale(1.5)
    box-shadow: 0 0 0 1px magenta
    z-index: 999



@media (min-width: 1500px)
  body 
    padding-top: 1em

  .nav
    width: 200px
    bottom: 0
    right: auto
    border: 0
    border-right: 1px solid #ddd
    a
      display: block

  .tabs
    padding-left: 200px

  .CodeMirror
    padding-top: 1em
