* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  text-rendering: optimizeLegibility;
  -webkit-user-select: none;
  font-smoothing: anti-aliased;
}
body,
html {
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0px;
  background: #fff;
  padding-top: 2em;
  color: #000;
  font: 400 12px/1.4 "Lucida Grande";
  -webkit-transition: all 0.2s;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.dark-theme {
  background: #2d323a;
}
.dark-theme .nav {
  background: #2d323a;
  border-color: rgba(255,255,255,0.08);
}
.dark-theme .nav a {
  color: #808080;
}
.dark-theme .nav .activetab {
  color: #fff;
}
.dark-theme ::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
}
a:link,
a:visited {
  color: inherit;
}
.actions {
  position: absolute;
  right: 0;
  z-index: 99;
}
.actions a {
  display: inline-block;
  text-decoration: none;
  padding: 0.8em 1.5em;
  color: #00a3ff;
}
header.actions {
  top: 0;
}
footer.actions {
  bottom: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
[data-selector] {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
[data-selector]:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.nav a {
  display: inline-block;
  padding: 0.8em 1.5em;
  text-decoration: none;
  color: #bbb;
}
.nav .activetab {
  color: #00a3ff;
}
.btn {
  display: inline-block;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  background: #f00;
  color: #fff;
  text-decoration: none;
}
.tabs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}
.tab {
  -webkit-transition: all 0.1s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  vertical-align: top;
}
.tab.active {
  display: block;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
.CodeMirror {
/* Set height, width, borders, and global font properties here */
  color: #535353;
  top: 2.8em;
  left: 0;
  bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  height: calc(100vh - 2.8em);
}
.CodeMirror .CodeMirror-code > div > pre {
  display: inline-block;
}
.CodeMirror-gutter-wrapper {
  display: inline-block;
}
.CodeMirror-gutter-wrapper[style] {
  position: static !important;
}
.CodeMirror-gutter-elt {
  position: static !important;
  display: inline-block;
}
.dragging {
  cursor: ns-resize;
  opacity: 0.3;
}
.dragging * {
  -webkit-user-select: none !important;
  cursor: ns-resize !important;
}
.colorpicker {
  display: inline-block;
  width: 2ch;
  height: 12px;
  overflow: hidden;
  background: transparent;
}
.colorpicker-swatch {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
}
.colorpicker-swatch:hover {
  box-shadow: 0 0 0 1px #f0f;
  z-index: 999;
}
.imgwidget {
  display: inline-block;
  width: 2ch;
  height: 12px;
  background: #00a3ff;
}
@media (min-width: 1500px) {
  body {
    padding-top: 1em;
  }
  .nav {
    width: 200px;
    bottom: 0;
    right: auto;
    border: 0;
    border-right: 1px solid #ddd;
  }
  .nav a {
    display: block;
  }
  .tabs {
    padding-left: 200px;
  }
  .CodeMirror {
    padding-top: 1em;
  }
}
