.cm-mode-html .cm-s-loop-light.CodeMirror {
  color: #000;
}
.cm-s-loop-light.CodeMirror {
  color: #777;
  font: 400 14px/1.3 "Source Code Pro", "Consolas", "Ubuntu Mono";
}
.cm-s-loop-light .cm-property {
  color: #777 !important;
}
.cm-s-loop-light .CodeMirror-activeline-background {
  background: #f9f9f9;
}
.cm-s-loop-light .cm-atom,
.cm-s-loop-light .cm-number,
.cm-s-loop-light .cm-string {
  color: #b10310;
  color: #00a3ff;
  color: #000;
  font-weight: 500;
}
.cm-s-loop-light .cm-keyword,
.cm-s-loop-light .cm-kw-special {
  font-weight: 600;
}
.cm-s-loop-light .cm-def,
.cm-s-loop-light .cm-variable,
.cm-s-loop-light .cm-variable-2,
.cm-s-loop-light .cm-variable-3 {
  color: #a52a2a;
  font-weight: 600;
}
.cm-s-loop-light .cm-tag,
.cm-s-loop-light .cm-attribute {
  color: #3b91c2;
}
.cm-s-loop-light .cm-comment {
  color: #7db696;
  font-weight: 400;
}
.cm-s-loop-light .cm-operator {
  color: #535353;
}
/* REGEX */
.cm-s-loop-light .cm-string-2 {
  color: #894bcc;
}
.cm-s-loop-light .cm-meta {
  color: #555;
}
.cm-s-loop-light .cm-qualifier {
  color: #49addd;
  color: #007cb8;
}
.cm-s-loop-light .cm-builtin {
  color: #007aff;
  color: #9c00ce;
}
.cm-s-loop-light .cm-bracket {
  color: #f00;
}
.cm-mode-html .cm-s-loop-light .cm-attrval-id {
  color: #9c00ce;
}
.cm-mode-html .cm-s-loop-light .cm-attrval-class {
  color: #49addd;
  color: #0070ff;
}
.cm-s-loop-light .cm-attrval-href,
.cm-s-loop-light .cm-attrval-src {
  border-bottom: 1px dotted #ddd;
}
.cm-s-loop-light .cm-header {
  color: #00f;
}
.cm-s-loop-light .cm-quote {
  color: #090;
}
.cm-s-loop-light .cm-hr {
  color: #999;
}
.cm-s-loop-light .cm-link {
  color: #00c;
}
.cm-s-loop-light .cm-color {
  color: #808080;
}
