* 
  margin: 0
  padding: 0
  font: inherit
  -webkit-box-sizing: border-box
  box-sizing: border-box
  font: inherit
  // -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -webkit-user-select: none

$color = black
//#A1B0C6
$bg = white
//#2F353F

body, html
  overflow: hidden
  height: 100%

body
  margin: 0px
  background: $bg
  padding-top: 2em
  color: #4C6770 //$color
  font: 400 14px/1.4 "National"
  font: 400 12px/1.4 "Lucida Grande"


//::-webkit-scrollbar-button       
//::-webkit-scrollbar-track      
//::-webkit-scrollbar-track-piece  
//::-webkit-scrollbar-corner       
//::-webkit-resizer               


::-webkit-scrollbar-thumb
  background: rgba(0,0,0,0.05)

::-webkit-scrollbar   
  width: 5px



a:link, a:visited
  color: inherit

.error
  color: yellow
  margin-bottom: 3em
  min-height: 2em
  opacity: 0.8
  .error-type
    display: none
    //text-transform: uppercase
    //font-size: 0.7rem
    //letter-spacing: 1px

.actions
  position: absolute
  right: 0
  z-index: 99
  a
    display: inline-block
    text-decoration: none
    padding: 0.8em 1.5em
    color: #00A3FF

header.actions
  top: 0

footer.actions
  bottom: 0

h1
  font-size: 3rem

h2
  font-size: 2rem

[data-selector]
  // cursor: pointer
  border-bottom: 1px solid rgba(white, 0.1)
  &:hover
    border-bottom: 1px solid white
    color: white

.nav
  position: fixed
  z-index: 10
  top: 0
  left: 0
  right: 0
  border: 0
  background: white
  border-bottom: 1px solid #eee
  a
    display: inline-block
    padding: 0.8em 1.5em
    text-decoration: none
    opacity: 0.3
  .activetab
    opacity: 1

.dark-theme .nav
  background: #222
  border-color: rgba(white,0.15)

.btn
  display: inline-block
  padding: 0.8em 1em
  margin-bottom: 1em
  background: red
  color: white
  text-decoration: none


.tabs
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  white-space: nowrap
  overflow: hidden

.tab
  // -webkit-transition: all 0.3s cubic-bezier(0.220, 1.10, 0.365, 1.000)
  -webkit-transition: all 0.1s
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: none
  vertical-align: top
  // width: 700px
  background: white
  // border-left: 1px solid rgba(0,0,0,0.1)
  &.active
    display: block
    opacity: 1
    -webkit-transform: translate3d(0, 0, 0)


.CodeMirror
  /* Set height, width, borders, and global font properties here */
  color: #535353
  top: 2.8em
  left: 0
  bottom: 0
  padding-left: 1em
  padding-right: 1em
  height: calc(100vh - 2.8em)


.marginalia
  width: 10px

[class^="sel"]
  font-weight: 400
  font-style: italic


.sel-id
  color: #CCA258 // #61B3E5

.sel-class
  color: #CB886C

.sel-name
  color: #B18EB0


.dragging
  cursor: ns-resize
  *
    -webkit-user-select: none !important


$redcolor = #991616

.slider
  display: inline-block
  height: 11px
  width: 2ch
  position: relative
  opacity: 0.7
  -webkit-transition: all 0.1s
  cursor: ns-resize
  -webkit-user-select: none
  &:focus
    opacity: 1
    outline: none
    .slider-rail
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(blue,0)), color-stop(50%,rgba(blue,1)), color-stop(100%,rgba(blue,0))) //$color
    .slider-thumb
      border-color: blue
    & + span
      color: blue
  &:hover
    opacity: 1
    .slider-thumb
      background: lighten($redcolor, 55)
      top: -2px
      height: 18px
    .slider-rail
      height: 50px
      top: -20px
  &.dragging
    opacity: 1
    .slider-rail
      height: 200px
      top: -95px
      -webkit-transition: none


.slider-thumb
  height: 9px
  width: 9px
  border: 1px solid $redcolor
  border-radius: 2px
  background: $bg
  position: absolute
  top: 3px
  left: 3px
  -webkit-transition: all 0.1s

.slider-rail
  height: 20px
  width: 1px
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($redcolor,0)), color-stop(50%,rgba($redcolor,1)), color-stop(100%,rgba($redcolor,0))) //$color
  position: absolute
  top: -3px
  left: 7px
  margin: auto
  -webkit-transition: all 0.1s

.colorpicker
  display: inline-block
  width: 2ch
  height: 12px
  background: transparent
  // -webkit-transition: all 0.2s

.colorpicker-swatch
  cursor: pointer
  width: 14px
  height: 14px
  border-radius: 1px
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
  position: absolute
  top: 0
  &:hover
    // -webkit-transform: scale(1.5)
    box-shadow: 0 0 0 1px magenta
    z-index: 999



// @media (min-width: 1500px)
//   body 
//     padding-top: 1em

//   .nav
//     width: 200px
//     bottom: 0
//     right: auto
//     border: 0
//     border-right: 1px solid #ddd
//     a
//       display: block

//   .tabs
//     padding-left: 200px

//   .CodeMirror
//     padding-top: 1em
