* 
	margin: 0
	padding: 0
	// font: inherit
	-webkit-box-sizing: border-box


body
	margin: 0px
	padding: 10px
	background: #336
	color: white
	// -webkit-transition: background 0.1s, color 0.1s


#edit
	font: 500 15px/1.4 "Source Code Pro"

#edit:focus
	outline: none

h1
	font-size: 3rem

h2
	font-size: 2rem

#edit
	.minicolors-theme-default .minicolors-input
		// width: 0
		height: 10px
		padding: 3px
	.minicolors-theme-default .minicolors-swatch 
		top: 0
		left: 0
		width: 100%
		height: 100%
		-webkit-transition: all 0.2s
		cursor: pointer
	.minicolors-theme-default .minicolors-swatch:hover
		-webkit-transform: scale(0.9)
	.minicolors-theme-default .minicolors-swatch:active
		-webkit-transform: scale(0.8)
