* {
  margin: 0;
  padding: 0;
  font: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body, html {
  overflow: hidden;
  height: 100%; }

body {
  margin: 0px;
  padding-top: 3em;
  color: #4c6770;
  font: 400 14px/1.4 "National"; }

a:link, a:visited {
  color: inherit; }

.error {
  color: yellow;
  margin-bottom: 3em;
  min-height: 2em;
  opacity: 0.8; }
  .error .error-type {
    display: none; }

.actions {
  position: absolute;
  right: 0;
  z-index: 99; }
  .actions a {
    display: inline-block;
    text-decoration: none;
    padding: 0.8em 1.5em;
    color: #00a3ff; }

header.actions {
  top: 0; }

footer.actions {
  bottom: 0; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2rem; }

[data-selector] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  [data-selector]:hover {
    border-bottom: 1px solid white;
    color: white; }

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: white;
  border-bottom: 1px solid #dddddd; }
  .nav a {
    display: inline-block;
    padding: 0.8em 1.5em;
    text-decoration: none;
    opacity: 0.3; }
  .nav .activetab {
    opacity: 1; }

.dark-theme .nav {
  background: #222222;
  border-color: rgba(255, 255, 255, 0.15); }

.btn {
  display: inline-block;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  background: white;
  color: white;
  text-decoration: none; }

.tabs {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

.tab {
  display: none; }
  .tab.active {
    display: block; }

.editor {
  font: 400 14px/1.8 "Consolas"; }
  .editor:focus {
    outline: none; }
  .editor .minicolors-theme-default .minicolors-input {
    width: 0;
    height: 0;
    padding: 0;
    border: 0; }
  .editor .minicolors-theme-default .minicolors-swatch {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s;
    cursor: pointer; }

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  color: #535353;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
  height: 100vh; }

.marginalia {
  width: 10px; }

[class^="sel"] {
  font-weight: 400;
  font-style: italic; }

.sel-id {
  color: #cca258; }

.sel-class {
  color: #cb886c; }

.sel-name {
  color: #b18eb0; }

.dragging {
  cursor: ns-resize; }
  .dragging * {
    -webkit-user-select: none !important; }

.slider {
  display: inline-block;
  height: 11px;
  width: 2ch;
  position: relative;
  opacity: 0.7;
  -webkit-transition: all 0.1s;
  cursor: ns-resize;
  -webkit-user-select: none; }
  .slider:focus {
    opacity: 1;
    outline: none; }
    .slider:focus .slider-rail {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 255, 0)), color-stop(50%, blue), color-stop(100%, rgba(0, 0, 255, 0))); }
    .slider:focus .slider-thumb {
      border-color: blue; }
    .slider:focus + span {
      color: blue; }
  .slider:hover {
    opacity: 1; }
    .slider:hover .slider-rail {
      height: 50px;
      top: -20px; }
  .slider.dragging {
    opacity: 1; }
    .slider.dragging .slider-rail {
      height: 200px;
      top: -95px;
      -webkit-transition: 0; }

.slider-thumb {
  height: 9px;
  width: 9px;
  border: 1px solid #00a3ff;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 3px;
  left: 3px; }

.slider-rail {
  -webkit-transition: all 0.1s;
  height: 20px;
  width: 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 163, 255, 0)), color-stop(50%, #00a3ff), color-stop(100%, rgba(0, 163, 255, 0)));
  position: absolute;
  top: -3px;
  left: 7px;
  margin: auto; }

input[type="range"] {
  -webkit-appearance: none;
  height: 1px;
  width: 150px;
  vertical-align: middle;
  background: #a1b0c6;
  opacity: 0.4;
  -webkit-transition: all 0.1s; }
  input[type="range"]:focus {
    outline: none;
    background: yellow; }
    input[type="range"]:focus::-webkit-slider-thumb {
      border-color: yellow; }
  input[type="range"]:hover {
    opacity: 1; }
    input[type="range"]:hover::-webkit-slider-thumb {
      height: 15px;
      width: 15px; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border: 1px solid #a1b0c6;
    border-radius: 50%;
    cursor: pointer;
    background: white;
    -webkit-transition: all 0.1s; }
    input[type="range"]::-webkit-slider-thumb:hover {
      background: white; }

@media (min-width: 1500px) {
  body {
    padding-top: 1em; }

  .nav {
    width: 200px;
    bottom: 0;
    right: auto;
    border: 0;
    border-right: 1px solid #dddddd; }
    .nav a {
      display: block; }

  .tabs {
    padding-left: 200px; }

  .CodeMirror {
    padding-top: 1em; } }
